body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:white;
}

.parallaxHome {
	background-color:black;
	height: 100%;
	min-height: 100vh;
	width:100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: -2;
}

.frostedGlass {
	background: inherit;
	height: auto;
	min-height: 100vh;
	height:100%;
	position: relative;
	border-radius: 2px;
	z-index: 0;
}

.frostedGlass:after {
	content: '';
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(255,255,255,.1);
	box-shadow:0 0 4em 0 rgba(0,0,0,.1);
	pointer-events:none;
}


.frostedGlass:before {
 content: '';
 width: 100%;
 height: 100%;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 50vw rgba(255,255,255,0.05);
 filter: blur(12px);
 }

 .classPage {
	position: relative;
	z-index: 1;
	color:white;
	padding:2vw;
 }

 .homeContainer{
 	 	text-align:center;
 }

 .card-body {
 	 background-color: rgba(69, 69, 69, 0.3);
	 border: black 3px;
	 
 }

 .cardImage {
 	 max-width:100%;
	 height:auto;
 }

  .planetImage {
 	 max-width:70%;
	 height:auto;
 }

 .solarSystemImage{
	 
  	 max-width:65%;
	 height:auto;
	 border-style: solid;
	 border-radius: 10px;
 }
 
 .imageContainer{
	padding:2vw;
	text-align:center;
 }

 .inputBox {
 	 padding:2vw;
 }